/.env
.env
.env.backup
.env.production
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
/storage/logs/*
!storage/logs/.gitignore
.phpunit.result.cache
.idea
.vscode
Thumbs.db
.DS_Store

# File SQLite lama, sudah tidak dipakai (project pakai MySQL)
labmoneylens_db
